// ------------------------------------------------
// Animations
//


@include keyframes(flash) {
    0% {
        color: rgba(227,81,255,1);
    }
    20% {
        color: rgba(62,62,255,1);
    }
    40% {
        color: rgba(255,39,238,1);
    }
}