// -------------------------------------------------
//
// Base Styles
// 
// -------------------------------------------------
* {
  box-sizing: border-box;
}


body {
  
  background-color: $background;
  font-family: Verdana, Helvetica, 'bit';
  line-height: 1.5;
  overflow-x: hidden;
  .mobile{
    background: url(../images/still.gif);
  }
}