// -------------------------------------------------
//
// Base Styles
// 
// -------------------------------------------------
* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}


// html{
//   display: block;
//   -webkit-font-smoothing: antialiased;

// }


// html,
// body {
//   height: 100%;
//   margin: 0;
//   padding: 0;
//   width: 100%;
// }


body {
  
  background: url(../images/pixel.png) repeat top left;
  background-size: 3px;
  background-color: $background;
  font-family: Verdana, Helvetica, 'bit';
  overflow: auto;
  overflow-x: hidden;
  .mobile{
    background: url(../images/still.gif);
  }
}