// -------------------------------------------------
//
// Base Styles
// 
// -------------------------------------------------
* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

html{
    width: 100%;
}

body {
  
  background-color: $background;
  font-family: Verdana, Helvetica, 'bit';
  line-height: 1.5;
  overflow-x: hidden;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}