// .body-wrap {
//   padding-left: 0;
//   padding-right: 0;
//   max-width: 100% !important;
// }



.body {
  color: $pink;

}

.body-wrap{
  // padding: 0;
  // padding-left: 1rem;
  // padding-right: 1rem;
  max-width: 100%;
}


// blockquote{
//     color: white;
// }

.figure__caption{
    color: $pink;
}

// .page,
// .page--coverstory {
//   padding-bottom: 0;
// }

.video-player {
  &.hidden {
    display: none;
  }
}

.pt-xl{
    text-align: center;
}

.main-nav{
    z-index: 9 !important;
}

footer.main-footer{
    background: black;
    color: white;
    h1{
        font-family: 'ClanPro';
    }
    .social-icon{
        .bg-color-body--svg{
            fill: "#ffffff" !important;
        }
    }
}


.meta--cover{
    text-align: center;
    color: $pink;
    margin: 0 auto;
    margin-bottom: 1.5em;
    

}

