.body-wrap {
  padding-left: 0;
  padding-right: 0;
  max-width: 100% !important;
}



.body {
  background-size: 40px;
  color: blue;

}

.page,
.page--coverstory {
  padding-bottom: 0;
}

.video-player {
  &.hidden {
    display: none;
  }
}

.main-nav{
    z-index: 9 !important;
}
