
header{
    background: url(../images/night3.gif);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 60%;
    margin-left: 0;
    padding: 0 !important;
    margin-bottom: 0;
    height: auto;
    position: relative;
    text-align: center;
    overflow: hidden;
    width: 100%;
    left: 0;
    canvas{
        display: none;
    }
    @include mq("medium"){
        canvas{
            display: block;
        }
    }
    @include mq("large"){
        background-size: 90%;

    }
   
}

.video-frame{
    iframe,object,embed{
        opacity: 1;
        @include transition(opacity 0.2s linear);
        &.hidden{
            opacity: 0;
        }
    }
}
