
header{
    background: url(../images/transparent.png), url(../images/night3.gif);
    background-position: center 80%, center center;
    background-repeat: no-repeat, no-repeat;
    background-size: contain, contain;
    margin-left: 0;
    padding: 0 !important;
    margin-bottom: 0;
    height: auto;
    position: relative;
    text-align: center;
    overflow: hidden;
    width: 100%;
    left: 0;
    margin-bottom: -2em;
    canvas{
        display: none;
    }

    @include mq("medium"){
        background: url(../images/transparent.png), url(../images/night3.gif);
        background-position: center 95%, center center;
        background-repeat: no-repeat, no-repeat;
        background-size: contain, 70%;
    }
    @include mq("large"){
        margin-bottom: 5em;
        background: url(../images/night3.gif);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 90%;
        canvas{
            display: block;
            margin-bottom: 2em;
        }

    }
   
}

.video-frame{
    iframe,object,embed{
        opacity: 1;
        @include transition(opacity 0.2s linear);
        &.hidden{
            opacity: 0;
        }
    }
}
