nav.main-nav{
    box-shadow: 0 0 8px rgba(0,0,0,.2);
    font-family: 'ClanPro';
    height: 50px;
    display: block;
    @include display(flex);
    @include flex-direction(row);
    @include align-items(center);
    @include justify-content(center);
    background: rgba(0,0,0,0.5);
    border-bottom: 1px white;
    color: white;
    opacity: 0;
    .logo{
        width: 60px;
        height: 30px;
        position: absolute;
        top: 0;
        left: 16px;
        top: 9px;
        bottom: 9px;
        display: block;
        background: url(../images/logo.svg) no-repeat center center;
        background-size: contain;
    }
    .text{
        display: none;
        @include mq("medium"){
            display: block;
        }
    }

    .social{
        width: auto;
        position: absolute;
        right: 10px;
        height: 100%;
    }

    .share{
        .share-icon{
            width: 25px;
            height: 25px;
            &.twitter{
                background-image: url(http://daily.redbullmusicacademy.com/images/share/twitter.c26710dd.svg);
            }
        }
    }

    &.headroom--pinned{
        opacity: 1;
    }
    &.headroom--top{
        opacity: 1;
    }

}


.share-icon{
            width: 20px;
            height: 20px;
            padding-left: 25px;
            &.twitter{
                background: url(../images/twitter.svg) no-repeat center center;
                background-size: 80%;
            }
            &.facebook{
                background: url(../images/facebook.svg) no-repeat center center;
                background-size: 80%;
            }
        }