doctype html
html
    head
        meta(charset="utf-8")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css")
        link(rel="stylesheet", href="css/main.css")
        title Freestyle

    body
        header#header
            //- .overlay
            //-     h1 Freestyle
            //-     h2 An Oral History

        .info#info


        audio#audio(loop, autoplay, controls=false)
            source#mp3(src="", type="audio/mp3")

        script(src="js/main.js")
